
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Image Url:</b> <%= @content_block.image_url %></p>
<p><b>Alt Text:</b> <%= @content_block.alt_text %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
